<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="search" />
        <span class="icon is-small is-left">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card
      *ngFor="let note of notes"
      [title]="note.title"
      [body]="note.body"
    ></app-note-card>
  </div>

  <button class="button is-large is-responsive is-primary" routerLink="new">
    <span class="icon  is-small">
      <i class="fas fa-plus"></i>
    </span>
    <span> Add new note!</span>
  </button>
</div>
