<div class="form-container">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <div class="control">
      <label class="label">Title</label>
      <input
      [(ngModel)]="note.title"
        class="input is-info"
        type="text"
        name="title"
        required
        placeholder="title input"
      />
    </div>

    <br />
    <div class="field">
      <label class="label">Body</label>
      <textarea
        class="textarea is-medium"
        placeholder="Medium textarea"
        [(ngModel)]="note.body"
        name="body"
      ></textarea>
      <br />
      <div class="note-footer">
        <button class="button is-text">
          <span>Cancel</span>
        </button>
        <button class="button is-success " type="submit" [disabled]="!noteForm.valid">
          <span>Save</span>
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
