<div class="note-card-details-container">
  <input class="input is-medium" type="text" placeholder="Medium input" />
  <br>
  <div class="field">
    <textarea
      class="textarea is-medium"
      placeholder="Medium textarea"
    ></textarea>
    <br />
    <button class="button is-success is-outlined">
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
      <span>Save</span>
    </button>
    <button class="button is-danger is-outlined">
      <span>Delete</span>
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </div>
</div>
