.form-container{
    display: flex;
    flex-direction: column;
 
    padding-top: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;

    .field{
  
        padding: 20px;
    .control{
        padding: 20px;
      
    }
   
    .note-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    }
    input, textarea{
        &.ng-invalid.ng-touched{
            border-color: red;
        }

    }
   
}